.login-area{
    padding-top: 80px;
    padding-bottom: 80px;
}
.g-btn{
    background-color: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(128, 127, 127);
    font-size: 19px;
    font-weight: 500;
}
